---
import {pb} from '../../backend'
import Debug from 'astro/components/Debug.astro'
import Layout from '../../layouts/Layout.astro'
import type { FilmsResponse, PersonnesResponse, RolesResponse } from '../../pocketbase-typegen';

type Response = FilmsResponse<{
    producteur:PersonnesResponse;
    scenaristes:PersonnesResponse[];
    roles: RolesResponse<{acteur : PersonnesResponse}>[];
}>
export const prerender = false;

const films= await Astro.locals.pb.collection<Response>("films").getFullList({expand: "producteur,scénaristes, roles.acteur"});

---

<!-- <pre>{JSON.stringify(films,null,2)} </pre> -->

<Layout >
{films.map(film => <div>
    <h2>Film : {film.titre}</h2>
    <p>Année de sortie : {film.date_sortie}</p>
    <p>Producteur : {film.expand?.producteur.nom}</p>
    <p>Scénaristes : {film.expand?.scenaristes.map(s => <span>{s.nom + " "}</span>)}</p>
    <p>Rôles : {film.expand?.roles.map(r => 
        <span>Nom du rôle : {r.nom_role + " "}</span> 
        <span>Joué par : {r.expand?.acteur.nom}</span> )}</p>

</div> )}
<Debug {films} />
</Layout>